# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Environment variables / local secrets
.env

# Generated data files
data/raw/*.json
data/processed/*.csv

# Keep data folders in Git
!data/raw/.gitkeep
!data/processed/.gitkeep
